<div class="container">
  <h1 class="my-4">Search Results for <%= @name %>:</h1>

  <div id="nytimes-results">
    <%= link_to "Show Nytimes Results", "/search/nytimes?name=#{@name}", remote: true %>
  </div>

  <div id="community-results">
    <%= link_to "Show Community Results", "/search/community?name=#{@name}", remote: true %>
  </div>

</div>
