<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <!-- <img src="/thumbnail_logo.png">
        <br><br>
        <h1 class="font-weight-light">ObituaryHub</h1>
        <br> -->
        <p class="lead">a place to celebrate life<br>and honor death</p>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<section class="py-5" style= "background-color:white;">
  <div class="container">
    <h2 class="font-weight-light">How?</h2>
    <p>On the navigation bar, to the left you will find links to see collections of obituaries based on different criteria. To the right you will find search options. The text field is best used for names, and if you want to search based on other parameters you can select advanced search options.In order to upload a new obituary, you will need to create an account. You can create an account here on our website, or authorize using Facebook. In the future we plan to expand on this functionality so you can import posts from Facebook.</p>
  </div>
  <br>
  <div class="container">
    <h2 class="font-weight-light">Why?</h2>
    <p>Many of us can think back to our childhood when our parents or grandparents would read the obituary section of the newspaper, discuss people in the community who had passed away, send condolences to friends and family with whom we were acquainted, and make plans to attend a funeral or memorial. Today, we often find out that friends, family, and community members have passed away on Facebook. It is traumatic to discover a loved one has died while scrolling through the facebook newsfeed, sifting through ads, politial posts, and silly memes.</p>

    <p>We believe these beautiful expressions of love and sorrow deserve a better ecosystem. This is why we created ObituaryHub. It is built with the dignity of the deceased in mind as well as the tender hearts of those in mourning. It is a place to celebrate life and honor death.</p>
  </div>
</section>
