<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <!-- <img src="/thumbnail_logo.png">
        <br><br>
        <h1 class="font-weight-light">ObituaryHub</h1>
        <br> -->
        <p class="lead">a place to celebrate life<br>and honor death</p>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<br>
<section class="py-5" style= "background-color:white; margin-left: 50px; margin-right: 50px;">
  <div class="container">
    <h2 class="font-weight-light">Why?</h2><br>
    <p style="margin-left: 50px">Many of us can think back to our childhood when our parents or grandparents would read the obituary section of the newspaper, discuss people in the community who had passed away, send condolences to friends and family with whom we were acquainted, and make plans to attend a funeral or memorial. Today, we often find out that friends, family, and community members have passed away on Facebook. It is traumatic to discover a loved one has died while scrolling through the facebook newsfeed, sifting through ads, politial posts, and silly memes.</p>

    <p style="margin-left: 50px">We believe these beautiful expressions of love and sorrow deserve a better ecosystem. This is why we created ObituaryHub. It is built with the dignity of the deceased in mind as well as the tender hearts of those in mourning. It is a place to celebrate life and honor death.</p>
  </div>
</section>
  <br>
  <hr style="width: 80%">
  <br>
<section class="py-5" style= "background-color:white; margin-left: 50px; margin-right: 50px;">
  <div class="container">
    <h2 class="font-weight-light">What?</h2><br>
    <p style="margin-left: 50px">ObituaryHub is a place to find, read, and share obituaries. It was built for you and your loved ones, those that are still with us and those who have passed away. Here you can read excerpts from New York Times obituaries, add new obituaries to our database, search for obituaries in both our database and the massive New York Times obituary database, and share obituaries with others via email.</p>
  </div>
</section>
  <br>
  <hr style="width: 80%">
  <br>
<section class="py-5" style= "background-color:white; margin-left: 50px; margin-right: 50px;">
  <div class="container">
    <h2 class="font-weight-light">How?</h2><br>
    <p style="margin-left: 50px">On the navigation bar to the left you will find links to see collections of obituaries based on different criteria. <br>To the right you will find search options. <br>The text field is best used for names. <br>If you want to search based on other parameters you can select advanced search options. <br>In order to upload a new obituary, you will need to create an account. <br>You can create an account here on our website, or authorize using Facebook or Google. <br>In the future we plan to expand on this functionality so you can import posts from Facebook. <br>For now all new obituaries need to be entered manually.</p>
  </div>
</section>



