<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">ObituaryHub</h1>
        <p class="lead">Designed with Dignity in Mind</p>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<section class="py-5" style= "background-color:white;">
  <div class="container">
    <h2 class="font-weight-light">Mission Statement</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab nulla dolorum autem nisi officiis blanditiis voluptatem hic, assumenda aspernatur facere ipsam nemo ratione cumque magnam enim fugiat reprehenderit expedita.</p>
  </div>
</section>
