

<br><h1 class="card-title text-center ">An Error has Occured</h1><br>

    <div class="col-sm-9 col-md-4 col-lg-7  mx-auto">
        <div class="card border-secondary mb-3" >
            <div class="card-header text-center"><h5>My Account Information</h5></div>
            <div class="card-body" style= "background-color:white;">
              <p>The page you are looking for does no exist. You may have mistyped the address or the page may have moved.</p>
        </div>
    </div>
</div>
