Across the country, newspapers are publishing an unprecedented number of obituaries because of the pandemic. ObituaryHub isn't yet capable of importing obituaries from sources other than the New York Times, and even those we are only to display the opening paragraph. At this phase, we rely on our growing community to add obituaries to our database. We invite you to join our efforts to share meaningful and interesting obituaries with a larger audience by signing up for an account and uploading obituaries from your community or any that you come across that are especially moving. This project is open source and we welcome contributions from developers, especially students interested in gaining open source experience.

<p>You'll find the github repo for our Ruby on Rails application <%= link_to "here", "https://github.com/sagemlee/obituary_hub" %> and our Sinatra microservice <%= link_to "here", "https://github.com/jpc20/obituary_microservice" %>.<p>

<h2>Below are links for further reading that we came across in our research.</h2>
<p>You can submit article suggestions to <%= link_to "obituaryhub@gmail.com"%><p>

<h4>The New York Times, famed for their obituary section, have made a special section containing COVID-19 obituaries available freely to all visitors.</h4>
[The New York Times - _Those We've Lost_](https://www.nytimes.com/interactive/2020/obituaries/people-died-coronavirus-obituaries.html)

The LA Times has a similar collection of COVID-19 obituaries of California residents.
[LA Times - _The Pandemic's Toll: Lives Lost in California_](https://www.latimes.com/projects/coronavirus-lives-lost-in-california/)

The New Yorker published this beautiful story about the history of obituary writing and the elevated cultural significance placed on obituaries because of the current pandemic.
[The New Yorker - _Telling the Stories of the Dead is Essential Work](https://www.newyorker.com/news/annals-of-communications/telling-the-stories-of-the-dead-is-essential-work)

CNN published an article exploring the phenomenon of obituaries for victims of COVID-19 being utilized to make political statements.
[CNN - _People are using honest obituaries to blame governors for coronavirus deaths and invite them to their loved one's funeral](https://www.cnn.com/2020/07/21/us/texas-obituary-covid-abbott-trnd/index.html)

The NPR program "All Things Considered" featured an interview with a professional obituary writer about her experience writing obituaries for people who died from COVID-19.
[NPR - _Obituary Writer Aims To Show How Coronavirus Impacts 'All People In Our Society'_](https://www.npr.org/sections/coronavirus-live-updates/2020/05/26/862359550/obituary-writer-aims-to-show-how-coronavirus-impacts-all-people-in-our-society)
