Hello <%=@recipient_name%>,

<%= @sender.first_name %> would like to share this obituary with you. Link to obituary: <a href="https://obituary-hub.herokuapp.com/obituaries/<%=@obit_id%>.</a>

Sincerely,
Obituary Hub Team